<%- include('./header.ejs'); %>
    <body>
        <%- include('nav') %> 
        <main>
            <div class="px-10 hisaabs">
                <h3 class="text-2xl font-medium mb-5 mt-10 tracking-tight">Expense of <span class="text-blue-500">
                        <%= filename.split(".")[0]%>
                    </span> date</h3>
                <p class="font-medium text-xl mb-10">
                 <%= filedata%>
                </p>
                <a class="text-zinc-400" href="/edit/<%= filename%>">Edit it if you want !</a>
            </div>
        </main>
        <%- include('footer') %>
    </body>
    
    </html>
    